@import 'tailwindcss';
@import url('https://fonts.google.com/specimen/Rubik');

@theme {
  --color-primary-blue: hsl(231, 69%, 60%);
  --color-primary-red: hsl(0, 94%, 66%);

  --color-neutral-grey: hsl(0, 0%, 97%);
  --color-neutral-blue: hsl(229, 31%, 21%);

  --font-rubik: "Rubik", sans-serif;
}
